*{box-sizing:border-box}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background :url('https://images7.alphacoders.com/587/thumb-1920-587593.png') no-repeat;
    background-size: cover;
}
.loader {
    width: 1300px;
    height: 600px;
    position: relative;
}
.loader:before {
    content: '';
  position: absolute;
    top: 67px;
    left: 0;
    width: 50px;
    height: 6px;
    background: black;
    opacity: .2;
    border-radius: 60%;
    animation: shadow .5s linear infinite;
}
.loader:after {
    content: '';
  position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 40px;
   background :url('http://img.nozhikov.ru/images/products/1/1323/68445483/0e826dab9878a45e207f689941b0c648.jpg') no-repeat;
    animation: rotate .5s linear infinite;
    border-radius: 5px;
}
@keyframes rotate {
  0% {
    transform: translateY(0) rotate(0deg);
  }
    25% {
        transform: translateY(10px) rotate(22.5deg);
    }
    50% {
        transform: translateY(20px) scale(1.1, 0.9) rotate(45deg);
        border-bottom-right-radius: 50px;
    }
    75% {
        ransform: translateY(10px) rotate(67.5deg);
    }
    100% {
        transform: translateY(0) rotate(90deg);
    }
}
@keyframes shadow {
    0%, 100% {transform: scaleX(1);}
    50% {transform: scaleX(1.2);}
}




